<section id="sideMenu">
    <div class="logo">
      <%= image_tag("logo.png", :alt => "logo feed", :width => "170px", :height => "180px") %>
					
    </div>
        <nav>
          <a href="/listaReservation" class=""><i class="far fa-calendar-plus fa" aria-hidden="true"></i>Reservas</a>
          <a href="/movies"><i class="fas fa-film fa" aria-hidden="true"></i>Peliculas</a>
          
        </nav>

  </section>